<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" id="home-middle-container">
      <% if !@surveys.nil? %>
        <h3>Please select one survey to respond</h3>
        <% @surveys.each do |s| %>
          <li><%= link_to s.name, respond_survey_path(s) %></li>
        <% end %>
      <% else %>
        <h3>There are no surveys</h3>
      <% end %>

    </div>
  </div>
</div>
