<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Thanks for responding <%= @survey.name %></h1>
      <%= link_to "TAKE ANOTHER SURVEY", root_path, class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
</div>