$navbar-inverse-bg:#566473;
@import 'bootstrap-sprockets';
@import 'bootstrap';
body{
  margin-top: 70px;
}
#header-nav{
  #center-header{
    background-color: #39434d;
  }
  #steps-header{
    text-align: left;
    .go-back{
      padding-top: 20px;
      margin-right: 8px;
    }
    a{color:white;}
    a:hover{text-decoration: none;}
    p:first-child{
      margin-top: 5px;
      margin-bottom: 0;
      font-size: 1em;
    }
    p:last-child{
      font-size: 1.4em;
      font-weight: normal;
      margin-bottom: 0;
    }
  }
  #right-header{
    text-align: right;
    .header-dropdown{
      width:100%;
      background-color: $navbar-inverse-bg;
      width: 100%;
      border: none;
      padding: 18px 0;

    }
  }
  .container{
    padding-left:0;
    padding-right: 0;
    color:white;
    text-align: center;
  }
  h3{
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: bold;
  }
}
.form-signin, .form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  .form-sign-heading {
    margin-bottom: 10px;
  }
  .checkbox {
    margin-bottom: 10px;
    font-weight: normal;
  }
  .form-group.email{
    margin-bottom: 0px;
  }
  #user_email {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
}
.form-signin{
  #user_password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.form-signup{
  #user_password{
    margin-bottom: -1px;
    border-radius: 0;
  }
  #user_password_confirmation {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-group.password{
    margin-bottom: 0px;
  }
}
#home-middle-container{
  h3{
    text-align: center;
  }
}
.row.next-step {
  margin-top: 20px;
}
.question{
  .answer{
    padding:0;
    padding-bottom: 5px;
    text-align: center;
    p {
      border-radius: 89px;
      border: 5px solid;
      width: 50px;
      height: 50px;
      text-align: center;
      padding-top: 10px;
      margin: 0 auto
    }
    &:nth-child(1) p{border-color:#ea062c;}
    &:nth-child(2) p{border-color:#f6792f;}
    &:nth-child(3) p{border-color:#dbe154;}
    &:nth-child(4) p{border-color:#83f199;}
    &:nth-child(5) p{border-color:#00b737;}
  }
  .answer.selected{
    border-bottom:4px solid $btn-primary-bg;
  }
}

/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
@media (max-width: $screen-xs-min) {
  #header-nav {
    #steps-header {
      .go-back {
        position: absolute;
        left: 0px;
        margin-right: 0px;
      }
    }
  }
}
