<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= devise_message_to_twbs message_type %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= message %>
  </div>
<% end %>